DATABASE_URL=postgresql://neondb_owner:npg_HC9UN2oWxkKQ@ep-rapid-mode-awlrz9cw-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6
COOKIE_NAME=kasir_digital_token
COOKIE_MAX_AGE=604800000
CORS_ORIGIN=http://localhost:3000
NODE_ENV=production
PORT=3000
